@property --rotate{
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
*{
    font-family: 'Oswald', sans-serif ;
}
html{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #101a1f, #15262c, #0c1a20); 
    background: linear-gradient(to right, #101a1f, #15262c, #0c1a20); 
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;   
}
img{
    width: 100%;
}
.mt-6{
    margin-top: 50px;
}
.rain-container {
    font-size: 30px; 
    position: relative;
    animation: falling 5s linear infinite; 
    color: #0f9e22;
    pointer-events: none;
}

.raindrop {
    position: absolute;
    opacity: 0;
    animation: fall 4s linear infinite;
    left: 0;
    top: -50px; 
}
.raindrop:nth-child(1) {
    animation-delay: 1s; 
    left: 5%; 
    top: -100px; 
}

.raindrop:nth-child(2) {
    animation-delay: 2s; 
    left: 10%; 
    top: -150px; 
}

.raindrop:nth-child(3) {
    animation-delay: 3s; 
    left: 15%; 
    top: -200px; 
}
.raindrop:nth-child(4) {
    animation-delay: 1s; 
    left: 20%; 
    top: -250px; 
}

.raindrop:nth-child(5) {
    animation-delay: 2s; 
    left: 25%; 
    top: -180px; 
}

.raindrop:nth-child(6) {
    animation-delay: 3s; 
    left: 30%; 
    top: -200px; 
}
.raindrop:nth-child(7) {
    animation-delay: 3s; 
    left: 35%; 
    top: -220px; 
}
.raindrop:nth-child(8) {
    animation-delay: 1s; 
    left: 40%; 
    top: -230px;
}

.raindrop:nth-child(9) {
    animation-delay: 2s; 
    left: 45%; 
    top: -180px;
}
.raindrop:nth-child(10) {
    animation-delay: 3s; 
    left: 50%; 
    top: -160px; 
}
.raindrop:nth-child(11) {
    animation-delay: 3s; 
    left: 55%; 
    top: -220px; 
}
.raindrop:nth-child(12) {
    animation-delay: 1s; 
    left: 60%; 
    top: -250px;
}

.raindrop:nth-child(13) {
    animation-delay: 2s; 
    left: 65%; 
    top: -160px;
}
.raindrop:nth-child(14) {
    animation-delay: 1s; 
    left: 70%; 
    top: -250px;
}

.raindrop:nth-child(15) {
    animation-delay: 2s; 
    left: 75%; 
    top: -180px;
}
.raindrop:nth-child(16) {
    animation-delay: 3s; 
    left: 80%; 
    top: -230px; 
}
.raindrop:nth-child(17) {
    animation-delay: 3s; 
    left: 85%; 
    top: -160px; 
}
.raindrop:nth-child(18) {
    animation-delay: 1s; 
    left: 90%; 
    top: -200px;
}

.raindrop:nth-child(19) {
    animation-delay: 2s; 
    left: 95%; 
    top: -160px;
}

@keyframes falling {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes fall {
    0% {
        opacity: 1;
        transform: translateY(-10%);
    }
    100% {
        opacity: 0.2;
        transform: translateY(100%);
    }
}

.golge{
    -webkit-box-shadow: 8px -1px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px -1px 18px 0px rgba(0,0,0,0.75);
box-shadow: 8px -1px 18px 0px rgba(0,0,0,0.75);
}
.golge2{
    -webkit-box-shadow: 1px 4px 13px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 13px 14px rgba(0,0,0,0.75);
box-shadow: 1px 4px 13px 14px rgba(0,0,0,0.75);
}
.text-main{
    color: #0f9e22 !important;
}
.text-main-2{
    color: #00ff22 !important;
}
.borderb{
    border-bottom: 2px solid #0f9e22 !important;
}
.borderb:hover{
    padding: 5px 0;
}
.container1 {
    width: 100%;
    height: 50dvh;
    margin-bottom: 100px;
    margin-top: 50px;
}
.container2{
    height: 50dvh;
}
.container3{
    height: 50dvh;
}
.container4{
    height: 120dvh;
}
.yuvar img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: bottom;
    border: none !important;
}
.yuvar{
    width: 100%;
    height: 500px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    font-family: Arial, Helvetica, sans-serif;
  }
  .yuvar::before{
    content: "";
    width: 101%;
    height: 101%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #0f9e22, #09e026 43%, #51f366);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
  }
  .yuvar::after{
    position: absolute;
    content: "";
    top: calc(var(--yuvar-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 101%;
    width: 101%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--yuvar-height) / 6));
    background-image: linear-gradient(var(--rotate), #0f9e22, #09e026 43%, #51f366);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  @keyframes spin {
    0%{
      --rotate : 0deg;
    }100%{
      --rotate : 360deg;
    }
  }
.w-85{
    width: 80%;
}
.yetenek-contaier{
    width: 100%;
    height: 36dvh;
}
.yetenek{
    height: 21dvh;
    float: right;
}
.custom-progress {
    height: 70px !important;
}
.custom-progress .progress-bar{
    height: 100%;
}
.isim{
    padding-left: 20px;
    font-size: 110px;
    margin-right: 60px;
}
.unvan{
    padding-left: 10px;
    font-size: 70px;
    margin-right: 60px;
}
.hakkında{
    overflow: hidden;
    height: 41dvh;
    font-size: 24px;
}
.ornekler{
    height: 16dvh;
}
.dc{
    position: relative;
    border-radius: 6px;
}
.dc p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px  solid #09e026;

}
.dc img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
    border: none !important;
    padding: 3px;
    border-radius: 5px;
    filter: blur(5px);
}
.dc::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #0f9e22, #09e026 43%, #51f366);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
  }